In [50]:
%matplotlib inline

In [51]:
import pandas as pd
import numpy as np

# Importing the data from sources

## Inequality measures Deininger and Squire

Not sure whether the good quality criteria in Forbes deals with the variable Quality or Q. In order to be confident of our data, we impose the two conditions. 
This leads us to 679 points which is very close to the 682 points of the paper.

We also add 6.6 we the data is based on expenditure and not on income (on the same cell to be sure that it is not done twice.

In [52]:
DS = pd.read_excel("Deininger_and Squire.XLS", usecols=["Code", "Quality", "Year", "Gini", "Q", 'Inc'])
DS = DS.query("Q == 'good' and Quality == 'accept'")
DS.drop_duplicates(["Code", "Year"], inplace=True)
DS['Gini'].astype(float, inplace=True)

DS.loc[DS['Inc']=='E', 'Gini'] += 6.6

DS = DS[["Code", "Year", "Gini"]]
DS.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 679 entries, 0 to 2631
Data columns (total 3 columns):
Code    679 non-null object
Year    679 non-null int64
Gini    679 non-null object
dtypes: int64(1), object(2)
memory usage: 21.2+ KB

## Educational data : Barro-Lee

We take the data directly from the BarroLee website. Cf list of name variable name.

In [53]:
male_educ = pd.read_csv("male_attainment_25_BarroLee.csv", usecols=["year", "WBcode", "yr_sch_sec"])
female_educ = pd.read_csv("female_attainment_25_BarroLee.csv", usecols=["year", "WBcode", "yr_sch_sec"])

In [54]:
print male_educ.info()
print female_educ.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1898 entries, 0 to 1897
Data columns (total 3 columns):
year          1898 non-null int64
yr_sch_sec    1898 non-null float64
WBcode        1898 non-null object
dtypes: float64(1), int64(1), object(1)
memory usage: 59.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1898 entries, 0 to 1897
Data columns (total 3 columns):
year          1898 non-null int64
yr_sch_sec    1898 non-null float64
WBcode        1898 non-null object
dtypes: float64(1), int64(1), object(1)
memory usage: 59.3+ KB
None

## Income

We downloaded the data from data.worldbank. The name of the variable has changed from GNP to GNI we should investigate to decide whether or not the differences are big. 
We secretly hope that the data before 1995 hasn't been changed and consequently that the new name of the variable affects nothing for our study.

In [55]:
inc = pd.read_csv("GNI_per_capita_WB.csv", skiprows=4)
del inc["Country Name"], inc['Indicator Code'], inc['Indicator Name']
inc.set_index("Country Code", inplace=True)
inc = inc.stack().reset_index()
inc.columns = ["code", "year", "GNI_PC"]
print inc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9131 entries, 0 to 9130
Data columns (total 3 columns):
code      9131 non-null object
year      9131 non-null object
GNI_PC    9131 non-null float64
dtypes: float64(1), object(2)
memory usage: 285.3+ KB
None

## Price Level of Investment

Extracted from the Penn World Table 5.6 (as in Forbes). The name of the variable is PI (cf. documentation column number [15]).

We now convert the Country name to the corresponding code using our good old dictionary.

In [56]:
PPPI = pd.read_excel("pwt56_forweb.xls", usecols=["Country", "Year", "PI"]).dropna(subset=["PI"])
country_dict = pd.read_csv("../data_source/country_code_list.csv")

country_dict.loc[:, 'country'] = country_dict['country'].apply(lambda x: x.upper())
country_dict.set_index('country', inplace=True)

PPPI.replace("CAPE VERDE IS.", "CABO VERDE", inplace=True)
PPPI.replace("CENTRAL AFR.R.", "CENTRAL AFRICAN REPUBLIC", inplace=True)
PPPI.replace("GUINEA-BISS", "GUINEA-BISSAU", inplace=True)

PPPI = PPPI.query("Country != 'REUNION'")

PPPI = PPPI.query("Country != 'ZAIRE'")

PPPI.replace("DOMINICAN REP.", "DOMINICAN REPUBLIC", inplace=True)
PPPI.replace("ST.KITTS&NEVIS", "SAINT KITTS AND NEVIS", inplace=True)
PPPI.replace("ST.LUCIA", "SAINT LUCIA", inplace=True)
PPPI.replace("TRINIDAD&TOBAGO", "TRINIDAD AND TOBAGO", inplace=True)
PPPI.replace("U.S.A.", "UNITED STATES OF AMERICA", inplace=True)
PPPI.replace("KOREA, REP.", "SOUTH KOREA", inplace=True)
PPPI.replace("SYRIA", "SYRIAN ARAB REPUBLIC", inplace=True)
PPPI.replace("UNITED ARAB E.", "UNITED ARAB EMIRATES", inplace=True)
PPPI.replace("YEMEN", "REPUBLIC OF YEMEN", inplace=True)

PPPI = PPPI.query("Country != 'GERMANY, EAST'")

PPPI.replace("GERMANY, WEST", "GERMANY", inplace=True)
PPPI.replace("U.K.", "UNITED KINGDOM", inplace=True)
PPPI.replace("U.S.S.R.", "RUSSIAN FEDERATION", inplace=True)
PPPI.replace("PAPUA N.GUINEA", "PAPUA NEW GUINEA", inplace=True)
PPPI.replace("SOLOMON IS.", "SOLOMON ISLANDS", inplace=True)
PPPI.replace("ST.VINCENT&GRE", "SAINT VINCENT AND THE GRENADINES", inplace=True)
PPPI.replace("WESTERN SAMOA", "SAMOA", inplace=True)


PPPI['code'] = PPPI['Country'].apply(lambda x: country_dict.loc[x])
PPPI = PPPI[['code', 'Year', 'PI']]

In [57]:
PPPI.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4950 entries, 10 to 6533
Data columns (total 3 columns):
code    4950 non-null object
Year    4950 non-null int64
PI      4950 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 154.7+ KB

# Gathering the data in one frame

The first step is to remove rename the columns in preparation of the merging of the databases. 
We also remove all the duplicates in order to avoid the problems during the merging.

### Drop duplicates and normalize the data from different sources

In [58]:
# rename the columns (in order to merge)
DS.columns = ["code", "year", "gini"]
PPPI.columns = ["code", "year", "PPPI"]
male_educ.columns = ["year", "sch_male", "code"]
female_educ.columns = ["year", "sch_female", "code"]

# drop duplicates in order to avoid problems during the merging
print "Income duplicates :", inc.duplicated(subset=['code', 'year']).sum()
print "Inequality duplicates :", DS.duplicated(subset=['code', 'year']).sum()
print "PPPI duplicates :", PPPI.duplicated(subset=['code', 'year']).sum()
print "Male educ duplicates :", male_educ.duplicated(subset=['code', 'year']).sum()
print "Female Educ duplicates :", female_educ.duplicated(subset=['code', 'year']).sum()

# normalize the data types
DS.loc[:, 'year'] = DS['year'].astype(int)
DS.loc[:, 'code'] = DS['code'].astype(str)
DS.loc[:, 'gini'] = DS['gini'].astype(float)

PPPI.loc[:, 'year'] = PPPI['year'].astype(int)
PPPI.loc[:, 'code'] = PPPI['code'].astype(str)
PPPI.loc[:, 'PPPI'] = PPPI['PPPI'].astype(float)

male_educ.loc[:, 'year'] = male_educ['year'].astype(int)
male_educ.loc[:, 'code'] = male_educ['code'].astype(str)
male_educ.loc[:, 'sch_male'] = male_educ['sch_male'].astype(float)

female_educ.loc[:, 'year'] = female_educ['year'].astype(int)
female_educ.loc[:, 'code'] = female_educ['code'].astype(str)
female_educ.loc[:, 'sch_female'] = female_educ['sch_female'].astype(float)

inc.loc[:, 'year'] = inc['year'].astype(int)
inc.loc[:, 'code'] = inc['code'].astype(str)
inc.loc[:, 'GNI_PC'] = inc['GNI_PC'].astype(float)

Income duplicates : 0
Inequality duplicates : 0
PPPI duplicates : 0
Male educ duplicates : 0
Female Educ duplicates : 0

We now have to make sure of the concordance country codes between bases...

We found some problematic codes in the income database : codes that do not appear in our good old country code dictionary. We see that the corresponding countries are not countries or negligeable countries so we can just drop them from the database.

In [59]:
problematic_codes = list(set(inc.query("code not in " + str(country_dict['code'].values.tolist()))['code']))
country_code = pd.read_csv("GNI_per_capita_WB.csv", skiprows=4, usecols=['Country Name', 'Country Code'])
print country_code[country_code['Country Code'].apply(lambda x: x in problematic_codes)]
inc = inc.query("code in " + str(country_dict['code'].values.tolist()))

                                       Country Name Country Code
5                                        Arab World          ARB
34                   Central Europe and the Baltics          CEB
36                                  Channel Islands          CHI
46                           Caribbean small states          CSS
58            East Asia & Pacific (developing only)          EAP
59          East Asia & Pacific (all income levels)          EAS
60          Europe & Central Asia (developing only)          ECA
61        Europe & Central Asia (all income levels)          ECS
64                                        Euro area          EMU
69                                   European Union          EUU
70         Fragile and conflict affected situations          FCS
90                                      High income          HIC
93           Heavily indebted poor countries (HIPC)          HPC
119     Latin America & Caribbean (developing only)          LAC
125   Latin America & Caribbean (all income levels)          LCN
126    Least developed countries: UN classification          LDC
127                                      Low income          LIC
130                             Lower middle income          LMC
131                             Low & middle income          LMY
143  Middle East & North Africa (all income levels)          MEA
146                                   Middle income          MIC
151    Middle East & North Africa (developing only)          MNA
160                                   North America          NAC
167                            High income: nonOECD          NOC
171                               High income: OECD          OEC
172                                    OECD members          OED
174                              Other small states          OSS
186                     Pacific island small states          PSS
192                                      South Asia          SAS
203            Sub-Saharan Africa (developing only)          SSA
205          Sub-Saharan Africa (all income levels)          SSF
206                                    Small states          SST
231                             Upper middle income          UMC
241                                           World          WLD

In Dieninger and Squire some codes are not used anymore in the new nomenclature so we choose to change them to the new nomenclature.

In [60]:
problematic_codes = list(set(DS.query("code not in " + str(country_dict['code'].values.tolist()))['code']))
country_code = pd.read_excel("Deininger_and Squire.XLS", usecols=["Code", "Country"])
print country_code[country_code['Code'].apply(lambda x: x in problematic_codes)].drop_duplicates()

DS.replace("BRS", "BLR", inplace=True)
DS.replace("CSR", "CZE", inplace=True)
DS.replace("KYR", "KGZ", inplace=True)
DS.replace("LAT", "LVA", inplace=True)
DS.replace("LIT", "LTU", inplace=True)
DS.replace("MLD", "MDA", inplace=True)
DS.replace("ROM", "ROU", inplace=True)
DS.replace("SLO", "SVK", inplace=True)
DS.replace("SVA", "SVN", inplace=True)
DS.replace("SUN", "RUS", inplace=True)
DS.replace("OAN", "TWN", inplace=True)

           Country Code
162        Belarus  BRS
580      Czech Rep  CSR
1407   Kyrgyz Rep.  KYR
1409        Latvia  LAT
1415     Lithuania  LIT
1541       Moldova  MLD
1914       Romania  ROM
1956        Slovak  SLO
1957   Slovak Rep.  SLO
1966      Slovenia  SVA
1981  Soviet Union  SUN
2151        Taiwan  OAN

In the educationnal data from Barro and Lee some codes are not used anymore in the new nomenclature so we choose to change them to the new nomenclature.

In [61]:
problematic_codes = list(set(male_educ.query("code not in " + str(country_dict['code'].values.tolist()))['code']))
country_code = pd.read_csv("male_attainment_25_BarroLee.csv", usecols=["WBcode", "country"])
print country_code[country_code['WBcode'].apply(lambda x: x in problematic_codes)].drop_duplicates()

male_educ.replace("ROM", "MDA", inplace=True)
male_educ.replace("SER", "SRB", inplace=True)

                  country WBcode
1833  Republic of Moldova    ROM
1846               Serbia    SER

In [62]:
problematic_codes = list(set(female_educ.query("code not in " + str(country_dict['code'].values.tolist()))['code']))
country_code = pd.read_csv("female_attainment_25_BarroLee.csv", usecols=["WBcode", "country"])
print country_code[country_code['WBcode'].apply(lambda x: x in problematic_codes)].drop_duplicates()

male_educ.replace("ROM", "MDA", inplace=True)
male_educ.replace("SER", "SRB", inplace=True)

                  country WBcode
1833  Republic of Moldova    ROM
1846               Serbia    SER

### Merging the data

In [63]:
data_frame = pd.merge(DS, PPPI, on=['code', 'year'],how='outer')
data_frame = pd.merge(data_frame, male_educ, on=['code', 'year'], how='outer')
data_frame = pd.merge(data_frame, female_educ, on=['code', 'year'], how='outer')
data_frame = pd.merge(data_frame, inc, on=['code', 'year'], how='outer')

### Computing the growth column

In [64]:
data_frame.sort_values(['code', 'year'], inplace=True)
data_frame.set_index(['code'], inplace=True)

In [65]:
new_frame = pd.DataFrame()
for country in set(data_frame.index.values):
    sel = data_frame.loc[country]
    sel['growth'] = (sel.shift(-1)['GNI_PC'] - sel['GNI_PC']) / (sel.shift(-1)['year'] - sel['year'])
    new_frame = pd.concat([new_frame, sel])

In [66]:
data_frame = new_frame
del new_frame
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10011 entries, AGO to CUB
Data columns (total 7 columns):
year          10011 non-null float64
gini          679 non-null float64
PPPI          4950 non-null float64
sch_male      1898 non-null float64
sch_female    1898 non-null float64
GNI_PC        7690 non-null float64
growth        7481 non-null float64
dtypes: float64(7)
memory usage: 625.7+ KB

### Taking the log of the GDP

In [67]:
data_frame["log(GNI_PC)"] = data_frame['GNI_PC'].apply(np.log)
del data_frame['GNI_PC']

### Resampling the data

Complicated task because it is done in a complex way in the paper. This particular point could be critized btw. 
One has to read the paper carefully to obtain information on how the resampling is done (note 8). The author choose not to use the mean of all values in the period but only the first values which is not the good way to do in my opinion but here we just redo the calculations. Because the data on inequality is sparse, she allows the values to be not only the first one but the closest from the first one in the considered period.

In [68]:
data_frame.reset_index(inplace=True)
period = float(5)
tuples = zip(data_frame['code'],
             (((data_frame['year'].values) // period) * period))
df_copy = data_frame.copy()
df_copy.index = pd.MultiIndex.from_tuples(tuples)
df_copy = df_copy.groupby(level=[0, 1]).first().dropna(how='all')
df_copy.index.names = ['code', 'year']

In [69]:
data_frame = df_copy.dropna(how='any')
del df_copy
data_frame = data_frame[['gini', 'PPPI', 'sch_male', 'sch_female', 'growth', 'log(GNI_PC)']]

### Removing countries that doesn't have at least 2 consecutives observations

In [71]:
new_frame = pd.DataFrame()
data_frame.reset_index(inplace=True)
for country in set(data_frame['code']):
    if len(data_frame.query("code == '" + str(country) + "'")) > 1:
        sel = data_frame.query("code == '" + str(country) + "'")
        if 0 in (sel.shift(-1).index.values - sel.index.values):
            new_frame = pd.concat([new_frame, sel])
data_frame = new_frame
del new_frame

In [72]:
data_frame.sort_values(['code', 'year']).to_csv("forbes_dataset.csv", index=False)

# Comparing with the data presented in the paper

In [73]:
pd.set_option('precision', 2)
resume = pd.DataFrame()
resume = pd.concat([resume, data_frame.groupby('year').mean()])
resume = pd.concat([resume, data_frame.groupby('year').std()])
resume = pd.concat([resume, data_frame.groupby('year').min()])
resume = pd.concat([resume, data_frame.groupby('year').max()])
del resume['code']
resume['categorize'] = (['mean'] * 7 + ['std'] * 7 + ['min'] * 7 + ['max'] * 7) 
result = resume.reset_index().set_index(['categorize', 'year']).stack(level=0).unstack(level=0).swaplevel(0,1).sort_index()
print result[['mean', 'std', 'min', 'max']]

categorize          mean     std      min      max
            year
PPPI        1960   78.75   26.06    44.15   123.74
            1965   80.60   48.19    31.96   274.03
            1970   67.90   18.28    39.96   112.43
            1975   94.62   34.32    50.29   253.78
            1980   96.09   27.85    44.43   140.68
            1985   69.90   39.16    31.79   288.12
            1990   80.54   39.30    27.91   218.17
gini        1960   42.85    8.26    30.80    55.50
            1965   41.86    9.28    31.61    61.88
            1970   41.54    8.19    25.10    57.61
            1975   40.68    9.18    23.30    60.29
            1980   39.41    7.86    24.90    57.78
            1985   41.01    9.44    23.42    61.76
            1990   40.74    8.82    24.53    56.91
growth      1960   39.23   54.69   -30.00   140.00
            1965   89.09   93.09     0.00   310.00
            1970  160.61  214.46   -20.00  1070.00
            1975  282.37  302.12   -30.00  1140.00
            1980  213.26  444.23  -910.00  1050.00
            1985  519.57  720.25  -190.00  2290.00
            1990  290.75  661.91 -1480.00  1700.00
log(GNI_PC) 1960    6.03    1.26     4.50     8.10
            1965    6.23    1.27     4.38     8.26
            1970    6.66    1.11     4.50     8.59
            1975    7.45    1.32     5.08     9.23
            1980    8.05    1.26     5.39     9.76
            1985    7.71    1.32     5.25     9.77
            1990    7.94    1.63     5.74    10.23
sch_female  1960    0.81    0.97     0.02     3.19
            1965    0.84    1.02     0.05     3.79
            1970    0.91    0.87     0.04     4.30
            1975    1.28    1.18     0.06     4.76
            1980    1.55    1.19     0.15     5.11
            1985    1.76    1.20     0.10     5.26
            1990    1.99    1.30     0.17     5.37
sch_male    1960    1.05    0.89     0.16     3.07
            1965    1.10    0.97     0.22     3.71
            1970    1.24    0.83     0.32     4.26
            1975    1.66    1.19     0.28     4.75
            1980    1.99    1.15     0.57     5.14
            1985    2.18    1.15     0.32     4.88
            1990    2.42    1.19     0.53     4.80

In [78]:
print data_frame[['code', 'year', 'gini']].set_index(['code', 'year']).unstack(level=1)

       gini
year   1960   1965   1970   1975   1980   1985   1990
code
AUS     NaN  32.02    NaN  34.33  39.96  37.58  41.72
BEL     NaN    NaN    NaN  28.25    NaN  26.22  26.92
BGD     NaN    NaN  36.00  33.34  39.00  37.00  34.87
BGR     NaN    NaN    NaN    NaN  25.01  23.42  24.53
BRA   53.00    NaN  57.61  60.29  57.78  61.76    NaN
CAN   30.80  31.61  32.24  31.62  31.80  32.81  27.56
CHL     NaN  45.64  46.00    NaN  53.21  57.88  56.49
CHN     NaN    NaN    NaN    NaN  32.00  31.40  34.60
COL     NaN    NaN  52.02  54.50    NaN  51.20  51.32
CRI   50.00    NaN  44.40  50.00  47.49  42.00    NaN
DEU     NaN    NaN  30.62  32.06  30.59    NaN    NaN
DNK     NaN    NaN    NaN  31.00  30.99  33.15  33.20
DOM     NaN    NaN    NaN  45.00  43.29    NaN  49.00
EGY     NaN  46.60    NaN  44.60    NaN    NaN  38.60
ESP     NaN  31.99  37.11    NaN  33.39  31.79    NaN
FIN     NaN  31.80  27.00  30.45  30.86  26.19  26.11
FRA   49.00  47.00  44.00  43.00  34.91    NaN    NaN
GBR     NaN    NaN  25.10  23.30  24.90  27.10  32.30
GHA     NaN    NaN    NaN    NaN    NaN  42.50  40.57
GRC     NaN    NaN  41.71    NaN  39.89  41.79    NaN
GTM     NaN    NaN    NaN  49.72    NaN  58.26    NaN
HKG     NaN    NaN  40.90  40.90  37.30  42.00  45.00
HND     NaN  61.88    NaN    NaN    NaN  54.94  54.00
IDN     NaN  39.30  37.30  41.20  42.21  38.61  39.69
IND   39.19  37.74  36.98  38.74  38.09  38.82  36.29
IRL     NaN    NaN  38.69    NaN  35.65  34.60    NaN
IRN     NaN  48.48  52.05    NaN  49.50    NaN    NaN
ITA     NaN    NaN  41.00  39.00  34.29  33.58  32.19
JAM     NaN    NaN  47.87  51.12    NaN  49.76  48.39
JOR     NaN    NaN    NaN    NaN  47.40  42.70  47.26
JPN   37.20  34.80  35.50  34.40  33.40  35.90  35.00
KOR   32.00  34.34  33.30  39.10  38.63  34.54    NaN
LKA   47.00    NaN  37.71  43.50  42.00  46.70  36.70
MAR     NaN    NaN    NaN    NaN  45.79    NaN  45.80
MEX   55.50  57.70    NaN  57.90  50.58  54.98  56.91
MUS     NaN    NaN    NaN    NaN  45.70  46.23  43.29
MYS     NaN    NaN  50.00  53.00  48.00  48.35    NaN
NLD     NaN    NaN    NaN  28.60  26.66  29.10  29.38
NOR   37.52  36.04  37.48  37.30  30.57  31.39  33.31
NZL     NaN    NaN    NaN  30.04  34.79  35.82  40.21
PAK     NaN  37.16  36.51  38.92    NaN  39.04  37.75
PAN     NaN    NaN  57.00  48.76  47.47  56.47    NaN
PER     NaN    NaN    NaN    NaN  49.33  49.36  51.47
PHL   49.71  51.32  49.39    NaN    NaN  46.08  45.00
PRT     NaN    NaN  40.58    NaN  36.80    NaN  36.76
SGP     NaN    NaN  41.00  37.00  40.69  41.00    NaN
SWE     NaN  33.41    NaN  27.31  32.44  31.24  32.52
THA   41.28  42.63    NaN  41.74  43.10  47.40  48.80
TTO     NaN    NaN  51.00  46.09  41.72    NaN    NaN
TUN     NaN  48.90    NaN  50.60  49.60  49.60  46.84
TUR     NaN  56.00  51.00    NaN    NaN  44.09    NaN
UGA     NaN    NaN    NaN    NaN    NaN  39.60  47.38
USA   34.88  34.64  34.06  34.42  35.20  37.26  37.80
VEN     NaN    NaN  47.65  43.63  42.82  45.17  53.84
ZMB     NaN    NaN    NaN  51.00    NaN    NaN  50.11